<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, reprehenderit tempore explicabo, molestias repellat magnam tenetur dolorem earum est error molestiae id totam ipsum obcaecati nihil cupiditate laboriosam optio illum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, reprehenderit tempore explicabo, molestias repellat magnam tenetur dolorem earum est error molestiae id totam ipsum obcaecati nihil cupiditate laboriosam optio illum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, reprehenderit tempore explicabo, molestias repellat magnam tenetur dolorem earum est error molestiae id totam ipsum obcaecati nihil cupiditate laboriosam optio illum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, reprehenderit tempore explicabo, molestias repellat magnam tenetur dolorem earum est error molestiae id totam ipsum obcaecati nihil cupiditate laboriosam optio illum.</p>
    </div>


    <%- include('./partials/footer.ejs') %> 

</body>
</html>